* {
    font-family: Helvetica, sans-serif;
    font-weight: 400;
    cursor: default;
}

#principal {

}

#placar {
    display: flex;
    align-items: center;
    justify-content: center;

}

#jogador, #computador {
    position: relative;
    flex-grow: 1;
    color: #ffffff;
    border-radius: 5px;
    padding: 18px;
}

#jogador h2, #computador h2 {
    margin: 0;
    padding: 0;
}

#jogador {
    background-color: #c0392b;
}

#jogador-nome, #computador-nome {
    font-size: 24px;;
}

#jogador-pontos, #computador-pontos {
    position: absolute;
    top: 8px;
    font-size: 52px;
}

#jogador-pontos {
    right: 20px;
}

#jogador #jogador-escolha {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

#jogador #jogador-escolha li {
    display: inline;
    padding: 0 15px;
}

#jogador #jogador-escolha a {
    opacity: .2;
}

#jogador #jogador-escolha a:hover {
    opacity: 1;
}

#jogador #jogador-escolha img {
     max-width: 80px;
}

#versus {
    background-color: orange;
}

#computador {
    background-color: #16a085;
}

#mensagem {

}